{
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "@",
        "rootPathSuffix": "node_modules/"
      }
    ],
    [
      "babel-plugin-transform-class-properties",
      {
        "spec": true
      }
    ]
  ],
  "presets": [
    "react"
  ]
}
